body{
    background-color: antiquewhite;
    margin:0 ;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#cntlabel{
    display:block;
    font-size: 1em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#butnContainer{
    text-align: center;
}
button{
    color: azure;
    background-color: hsl(0, 0%, 22%);
    padding:10px 20px ;
    margin: 10px;
    border-radius: 50px;
    border: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:3em ;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.25s;
}
button:hover{
    background-color: hsl(0, 0%, 9%);
}
button:active{
    background-color: hsl(0, 0%, 41%);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap : 10 px;
    padding: 25px;
    text-align: left;
    border:none;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(46, 46, 46);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    background-color: rgb(78, 78, 78);
    color: rgb(221, 221, 221);
}
form{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: auto;
    box-shadow:5px 5px 15px rgb(97, 97, 97) ;
    padding:25px ;
    text-align : center ;
    border-radius:20px ;
    max-width: 400px;
}
h1{
    color: hsl(0, 0%, 0%);
}
#container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;   
}

.opBtn{
    background-color: rgb(202, 152, 13);
}
.opBtn:hover{
    background-color: rgb(153, 113, 5);
}
.opBtn:active{
    background-color: rgb(255, 204, 62);
}
.choices{
    margin-bottom : 30px ;
}
.choices button{
    font-size: 7.5rem;
    min-width : 160px ;
    margin:0 10 px;
    border-radius:250px;
    background-color: beige;
}